{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Table Reservation Form -->
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="text-primary">Book A Table</h2>
                <p class="mb-5"></p>
            </div>
        </div>

        <form action="{% url 'booking' %}" method="POST" role="form">
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Full Name">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone Number">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="date" name="date" class="form-control" id="date" placeholder="Date">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select class="form-control" name="time" id="time">
                        <option value="" disabled selected>Select a time</option>
                        <option value="16:00-18:00">16:00-18:00</option>
                        <option value="18:00-20:00">18:00-20:00</option>
                        <option value="20:00-22:00">20:00-22:00</option>
                        <option value="22:00-00:00">22:00-00:00</option>
                        <option value="00:00-02:00">00:00-02:00</option>
                    </select>
                </div>

                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="people" id="people" placeholder="Number of people">
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Message"></textarea>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary float-right mt-3">Book a Table</button>
        </form>
    </div>
</section>
{% endblock content %}