{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Come On In</span>
                        <span class="section-heading-lower">We're Open</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ms-auto">Closed</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ms-auto">4:00 PM to 12:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ms-auto">4:00 PM to 12:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ms-auto">4:00 PM to 12:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ms-auto">4:00 PM to 12:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ms-auto">4:00 PM to 02:00 AM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ms-auto">4:00 PM to 02:00 AM</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Biblioteksgatan 156</strong>
                            <br />
                            Stockhom, Sweden
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Call Anytime</em></small>
                        <br />
                        +46 70 775 884 3
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/images/restaurant.jpg"
            alt="Restauran design" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Savory Cuisine, Rich Heritage</span>
                            <span class="section-heading-lower">About Our Restaurant</span>
                        </h2>
                        <p>Founded in 1996, CIAO Restaurant is a timeless haven for lovers of authentic Italian cuisine.
                            With a rich history that
                            spans a quarter of a century, we've become a beloved institution in the heart of our
                            community.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>love</em>
                            with our decadent dishes the moment you walk inside until you finish your last bite. Join us
                            for your dining routine, an
                            outing with friends, or simply to enjoy some quality alone time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}