{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-4 mt-5 mb-5 p-4 offset-md-4 bg-faded text-center rounded">
    <form method="post" action="{% url 'delete_booking' booking.id %}">
        <h2 class="section-heading mb-4 p-3">Delete booking</h2>
        {% csrf_token %}
        <div class="row text-center mb-4">
            <div class="mb-3 text-center">
                Are you sure you want to delete booking with name <strong>{{ booking.full_name }}</strong> made on
                <strong> {{ booking.date }}</strong>?
            </div>
            <div class="mb-3 text-center">
                This booking will be <strong>permanently</strong> deleted from the database.
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'view_booking' %}" aria-label="Go back to view_booking page" class="btn btn-primary btn-xl">
                <div class="intro-button mx-auto">Cancel</div>
            </a>
            <button type="submit" class="btn btn-danger btn-xl" style="color: black">
                Delete
            </button>
        </div>
    </form>
</div>

{% endblock content %}

<!-- <section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="col-md-8 mt-3 offset-md-2 bg-faded text-center rounded">
                <h2 class="section-heading mb-4 p-3">
                    <span class="section-heading-upper">Are you sure you want to delete this booking?</span>
                </h2>
                <p><a href="{% url 'view_booking' %}">No, go back to my booking</a></p>
                <form method="POST" action="{% url 'delete_booking' booking.id %}">
                    {% csrf_token %}
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Logged in User</th>
                                    <th scope="col">Full name</th>
                                    <th scope="col">Reservation date</th>
                                    <th scope="col">Reservation time</th>
                                    <th scope="col">Phone number</th>
                                    <th scope="col">Number of guests</th>
                                    <th scope="col">Delete booking</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="delete_booking" value="{{ booking.id }}">
                                    </td>
                                    <td>{{ booking.user.username }}</td>
                                    <td>{{ booking.full_name }}</td>
                                    <td>{{ booking.date }}</td>
                                    <td>{{ booking.get_time_display }}</td>
                                    <td>{{ booking.phone_number }}</td>
                                    <td>{{ booking.table }}</td>
                                    <td>
                                        <div class="intro-button mx-auto">
                                            <button class="btn btn-primary btn-xl" type="submit">Delete Booking</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->