{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="col-md-8 mt-3 offset-md-2 bg-faded text-center rounded">
                <h2 class="section-heading mb-4 p-3">
                    <span class="section-heading-upper">Edit your booking</span>
                </h2>

                <p><a href="{% url 'view_booking' %}">I changed my mind, back to my bookings</a></p>
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        <form method="POST" name="form">

                            {{form|crispy}}


                            {% csrf_token %}


                            <div class="intro-button mx-auto"><button class="btn btn-primary btn-xl"
                                    type="submit">Submit edited booking</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}