{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">delicious italian</span>
                        <span class="section-heading-lower">Pastas</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/pasta.jpg"
                alt="Italian pasta">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Experience the soul-soothing taste of Italy through our collection of exquisite
                        Italian pasta dishes. At CIAO Restaurant, we take you on a gastronomic journey to the heart of
                        Italy, where pasta is not
                        just a meal but a
                        passion.
                        <hr>
                        <strong>The Art of Simplicity</strong><br>
                        Italian pasta is a celebration of simplicity, where quality ingredients shine. From the
                        world-famous classics to
                        regional specialties, our menu is a tribute to the time-honored traditions that have made
                        Italian pasta a global
                        culinary icon.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Amazing Italian</span>
                        <span class="section-heading-lower">Pizzas</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/pizza.jpg"
                alt="Italian Pizzas">
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">At CIAO Restaurant, we invite you to embark on a culinary journey to the very heart
                        of Italy with our authentic
                        and mouthwatering selection of Italian pizzas. A symbol of Italian gastronomy and worldwide
                        adoration, pizza is more
                        than just a meal; it's a celebration of tradition, flavors, and community.
                        <hr>
                        <strong>Crafted to Perfection</strong><br>
                        Our Italian pizzas are crafted to perfection, following time-honored traditions that have been
                        passed down through
                        generations. From the finest hand-kneaded dough to the freshest, locally sourced ingredients,
                        each pizza is a
                        masterpiece of flavor and balance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">From Around the World</span>
                        <span class="section-heading-lower">Grill and Steak</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/steak.jpg"
                alt="Steak and grill">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">At CIAO Restaurant, we invite you to embark on a culinary adventure that celebrates
                        the time-honored tradition of
                        grilling and the irresistible allure of succulent steaks. Our commitment to delivering the
                        finest grilled dishes is a
                        testament to the art of cooking over an open flame.
                        <hr>
                        <strong>The Mastery of Grilling</strong><br>
                        Grilling is more than a method; it's an art form that requires precision and passion. Our chefs
                        have honed their skills
                        to perfection, ensuring that every dish is seared to smoky, charred excellence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Choose from our</span>
                        <span class="section-heading-lower">Drinks</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/drinks.jpg"
                alt="Many kind of drinks">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">At CIAO Restaurant, we are dedicated to elevating your dining experience with an
                        exceptional selection of
                        beverages. From refreshing non-alcoholic options to carefully crafted cocktails and an
                        impressive array of fine wines
                        and spirits, we believe that the right drink can enhance every moment.
                        <hr>
                        <strong>Diverse Choices</strong><br>
                        Our drink menu boasts a wide range of options, designed to cater to every preference. Whether
                        you're in the mood for a
                        classic cocktail, a smooth glass of wine, a cold and refreshing beer, or a carefully crafted
                        non-alcoholic mocktail, our
                        selection has something for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Taste our Italian</span>
                        <span class="section-heading-lower">Desserts</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/dessert.jpg"
                alt="Italian desserts">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">At CIAO Restaurant, we invite you to savor the exquisite world of Italian desserts,
                        where every bite is a
                        melodious blend of tradition, flavor, and passion. Italy's rich culinary heritage comes alive in
                        our selection of
                        mouthwatering sweet treats.
                        <hr>
                        <strong>The Art of Dolci</strong><br>
                        In Italy, "dolci," or desserts, are a cherished part of any meal. We take great pride in
                        crafting these delights,
                        ensuring that each dessert is a reflection of time-honored recipes and a commitment to quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}