{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    {% if bookings %}
    {% for booking in bookings %}
    <div class="table-responsive-sm">
        <table class="table col-md-3 mt-5 mb-5 bg-faded rounded">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Logged in User</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Reservation date</th>
                    <th scope="col">Reservation time</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Number of guests</th>
                    <th scope="col">Edit booking</th>
                    <th scope="col">Delete booking</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row"></th>
                    <td>{{ user.username }}</td>
                    <td>{{ booking.full_name }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.get_time_display }}</td>
                    <td>{{ booking.phone_number }}</td>
                    <td>{{ booking.table }}</td>
                    <td>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
                                href="{% url 'edit_booking' booking.id %}" aria-label="Go to edit_booking page">Edit
                                Booking</a></div>
                    </td>
                    <td>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-danger btn-xl"
                                href="{% url 'delete_booking' booking.id %}"
                                aria-label="Go back to view_booking page">Delete
                                Booking</a></div>
                    </td>
                </tr>

            </tbody>
            {% endfor %}

            {% else %}
            <div class="col-md-4 mt-5 mb-5 p-4 offset-md-4 bg-faded text-center rounded">
                <h1 class="mb-5">You don't have a booking yet.</h1>
                <a href="{% url 'booking' %}" aria-label="Go back to view_booking page" class="btn btn-primary btn-xl">
                    <div class="intro-button mx-auto">BOOK</div>
                </a>
            </div>
            {% endif %}
            {% csrf_token %}
        </table>
    </div>
</div>


{% endblock %}