{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg'); background-size: 100%;
    height: 70vh;
  ">
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white p-5" style="padding-left: 100px;">
                    <h1 class="mb-3">Welcome to</h1>
                    <h4 class="mb-3">CIAO Restaurant</h4>
                    <p class="mb-3">Explore our diverse menu, enjoy the company of your loved ones, and savor the
                        moments. Your table is waiting for you!</p>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Book a table</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}